*{
    padding: 0;
    margin: 0;
}
body{
    background-color: darkcyan;
}
.topbar{
    padding:8px;
    line-height:60px; 
	height:60px;
    align-items:center;
    background-color:rgb(0, 53, 59);
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.topbar div{
    width: auto;
    text-align:center;
    margin-left: 15%;
    margin-right: auto;
}

.topbar ul li{
    text-align: center;
}
.topbar #ul1 li {
    overflow: hidden;
    list-style-type: none;
    display: block;
    width: 80px;
    height: 60px;
    float: left;
    color: white;
}
.topbar #ul1 li:hover {
    background-color:rgba(19, 131, 134, 0.5);
    border-left: 1px solid #ecebeb;
}

.topbar ul li :hover{
    background-color: rgba(19, 131, 134, 0.5);
    color: black;
}
.topbar #ul2 li{
    display: block;
    width: 300px;
    height: 60px;
    float: left;
}
.topbar #ul4 li{
    display: block;
    width: 115px;
    height: 60px;
    float: left;
}
.topbar #ul3 li {
    list-style-type: none;
    display: block;
    width: 80px;
    height: 60px;
    float: left;
}

.topbar ul li a {
    display: block;
    width: 70px;
    text-decoration: none;
    color: aliceblue;
}

.topbar #ul2{
    width: auto;
    height: auto;
}
.topbar ul li #search{
    width: 100px;
    height:28px;
    padding:0 0 0 0px;
    border: 1px solid #3db3d1;;
    border-radius:20px 20px 20px 20px;
    background: transparent;
    color: white;

}
.input{
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 30px;   
	border-radius:20px 20px 20px 20px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 20px;
}
.content .list{
    overflow: hidden;
    display: none;
}
.content #list1{
    display: block;
}
